h1{
    color: #f1311898;
}

body{
    background-color: aliceblue;
}
#encabezado{
    background-color: antiquewhite;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 20px;
    box-shadow:5px 5px rgba(0,0,0,0.5);
    display: flex;
}
.logo{
    background-color: coral;
    width: 15%;
    margin-inline: 20px;

}
.logo img{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.menu{
    background-color: cornflowerblue;
    width: 75%;
    margin-inline: 20px;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color:rgba( 1,123,205,0.5);
}
.menu ul li{
    margin: 0px;
    padding: 15px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu ul li a:hover{
    background-color: rgb(255,214,0);
    padding: 15px 20px;
    color: black;
}
.redes{
    background-color: aquamarine;
    width: 10%;
    margin-inline: 20px;
}
.redes img{
    width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
    
}

#cuerpo{
    background-color:beige;
    height: 550px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 15px;
    padding: 50px;
    display: row;
    border-radius: 25px;
    padding: 20px;
    box-shadow:5px 5px rgba(0,0,0,0.5);
}

.tarjetas{
    background-color:blanchedalmond;
    height: 200px;
    width: 95%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    margin-top: auto;
}
.tarjeta1{
    background-color: aquamarine;
    width: 33%;
    margin-inline: 20px;
}
.tarjeta1 h3{
    text-align: center;
    margin-top: 60px;
}
.tarjeta2{
    background-color: aquamarine;
    width: 33%;
    margin-inline: 20px;
}
.tarjeta2 h3{
    text-align: center;
    margin-top: 60px;
}
.tarjeta3{
    background-color: aquamarine;
    width: 33%;
    margin-inline: 20px;
}
.tarjeta3 p{
    text-align: justify;
    margin-top: 20px;
}   
.seccion{
    background-color:aquamarine;
    height: 200px;
    width: 95%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: auto;
    margin-top: 20px;
}

#inferior{
    background-color:blanchedalmond;
    height: 20px;
    width: 100% ;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
  
}
.pie1{
    background-color: aquamarine;
    width: 50%;
    margin-inline: 20px;
}
.pie1 h4{
    text-align: center;
}
.pie2{
    background-color: aquamarine;
    width: 50%;
    margin-inline: 200px;
}
.pie2 h4{
    text-align: center;
}