h1{
    color: #f1311898;
}

body{
    background-color: aliceblue;
}
#encabezado{
    background-color: antiquewhite;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 20px;
    box-shadow:5px 5px rgba(0,0,0,0.5);
}