h1{
    color: #f1311898;
}

body{
    background-color: #93bedf;
    height: 100%;
}
#encabezado{
    background-color: #ffffff;
    height: 90px;
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 20px;
    box-shadow:5px 5px rgba(0,0,0,0.5);
    display: flex;
}
.logo{
    width: 15%;
    margin-inline: 20px;

}
.logo img{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.menu{
    width: 75%;
    margin-inline: 20px;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color:#93bedf;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    margin: 0px;
    padding: 15px 15px;
    text-align: center;
    border-radius: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.menu ul li a:hover{
    background-color: #8ef9f3;
    padding: 1px 1px;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.redes{
    width: 10%;
    margin-inline: 20px;
}
.redes img{
    width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
    
}

#cuerpo{
    flex-direction: column;
    background-color:#8377d1;
    height: auto;
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
    padding: 50px;
    display: row;
    border-radius: 25px;
    box-shadow:5px 5px rgba(0,0,0,0.5);
    font-family: cuerpo;
}

.tarjetas{
    width: 95%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    margin-top: auto;
    border-radius: 10px;
    height: 200px;
    justify-content: space-between; /* las separa parejito */
    align-items: stretch;
}

.tarjeta{
    background-color: #93bedf;
    height: 210px ;
    width: 25%;
    margin-inline: 20px;
    border-radius: 10px;
    flex-direction: column;   /*imagen arriba, texto abajo */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.tarjeta h3{
    font-family: "titulo";
    color: black;
    text-align: center;
}
.tarjeta img{
    width: 100%;              /* ocupa todo el ancho */
    height: auto;
    border-radius: 10px 10px 0 0; /* esquinas bonitas arriba */
    width: 90%;
    height: 150px;
    object-fit: contain;
    margin-top: 10px;
}   
 
.seccion{
    background-image: url("../IMAGES/fondo.jpg");
    background-size:cover;  
    background-position: center;

    position: relative;
    height: 200px;
    width: 95%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(131, 119, 209, 0.8);
    background-blend-mode: lighten;

    
}
.seccion h3{
    font-family: "cuerpo";
    color: white;
    text-align: justify;
    align-items: center;      /* centra verticalmente */
    justify-content: center;  /* centra el bloque de texto */
    text-align: justify;
    font-size: 25px;

    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
  

#inferior{
    background-color: #6d5a72;
    width: 100% ;
    display: flex;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    align-items: center;
}
.pie1{
    width: 50%;
}
.pie1 p{
    text-align: center;
    font-family: "pie";
    font-size: 30px;
}
.pie2{
    width: 50%;

}
.pie2 p{
    text-align: center;
    font-family: "pie";
    font-size: large;
    font-size: 30px;
}

@font-face {
    font-family: pie;
    src: url(../FONTS/fancy.ttf);
    letter-spacing: 8px;
}

@font-face {
    font-family: cuerpo;
    src: url(../FONTS/general.ttf);
    letter-spacing: 2px;
    font-size: 12pt;
}

@font-face {
    font-family: titulo;
    src: url(../FONTS/titulos.ttf);
    letter-spacing: 2px;
    font-size: 20pt;
}